*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Android Studio
.idea/
.project
.classpath
.settings/
.gradle/
build/
bin/
gen/

# IntelliJ
out/
*.ipr
*.iws

# Eclipse
.classpath
.project
.settings/

# Gradle
.gradle/
build/
*/build/

# Mac
.DS_Store

# Local configuration file (sdk path, etc)
local.properties
